{% extends 'base.html.twig' %}

{% block title %}Cheque index{% endblock %}

{% block body %}
    <h1>Чеки</h1>
    <button class="btn_create" >
        <a href="{{ path('app_cheque_new') }}">Создать</a>
    </button>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Дата</th>
                <th>Магазин</th>
                <th>Продукты</th>
                <th>Покупатель</th>
                <th>Действия</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for cheque in cheques %}
            <tr>
                <td>{{ cheque.id }}</td>
                <td>{{ cheque.date ? cheque.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cheque.shop }}</td>
                <td>

                    <select id="ms" multiple="multiple" size="3" class="form-control">
                        {% for product in cheque.products %}
                            <option>{{ product.name }}</option>
                        {% endfor %}

                    </select>
                </td>
                <td>{{ cheque.customerGuest }}</td>
                <td width="350px">
                    <button style="margin: 5px">
                        <a href="{{ path('app_cheque_show', {'id': cheque.id}) }}">открыть</a>
                    </button>
                    <button style="margin: 5px">
                        <a href="{{ path('app_cheque_edit', {'id': cheque.id}) }}">изменить</a>
                    </button>
                </td>
                <td>
                    {{ include('cheque/_delete_form.html.twig') }}
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
