{% extends 'base.html.twig' %}

{% block title %}Party index{% endblock %}

{% block body %}
    <h1>Тусовки</h1>
    <button class="btn_create" >
        <a href="{{ path('app_party_new') }}">Создать</a>
    </button>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Дата</th>
                <th>Место</th>
                <th>Действия</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for party in parties %}
            <tr>
                <td>{{ party.id }}</td>
                <td>{{ party.name }}</td>
                <td>{{ party.dateAt ? party.dateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ party.location }}</td>
                <td width="350px">
                    <button style="margin: 5px">
                        <a href="{{ path('app_party_show', {'id': party.id}) }}">открыть</a>
                    </button>
                    <button style="margin: 5px">
                        <a href="{{ path('app_party_edit', {'id': party.id}) }}">изменить</a>
                    </button>
                </td>
                <td>
                    {{ include('party/_delete_form.html.twig') }}
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
